* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-color {
  color: #1a2236;
}

.white {
  color: #fff;
}

.margin20 {
  margin: 20px;
}

.appheader {
  width: 100%;
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.nav-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  display: none;
}

.headerImage {
  width: 111px;
  height: 74px;
}

.menuImage1,
.menuImage2 {
  display: none;
}

.headline .sec-title:hover {
  transform: translate(10%, 0);
  transition: ease 1s;
}

.btn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #1a2236;
  margin: 10px 0 10px 0;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}

.btn:hover {
  color: #1a2236;
  background-color: white;
  border: #1a2236 solid 1px;
  transition: ease 1s;
}

.btn:active {
  color: #1a2236;
  background-color: white;
  border: #1a2236 solid 2px;
}

.headlineImage {
  width: 99%;
}

.headlineImage-dv {
  display: none;
}

/* ---------Projects Section---------- */
.project {
  width: 100%;
  display: grid;
}

.project img {
  width: 99.98%;
  height: 186px;
}

.proj-card {
  background-color: #1a2236;
  padding: 20px;
}

.proj-name {
  font-size: 20px;
  font-weight: 300;
}

.proj-langs {
  margin: 20px 11px 20px 0;
  display: grid;
  grid-template-columns: 25% 30% 30%;
  font-size: 10.33px;
  font-weight: 300;
  list-style: none;
}

.proj-langs li a {
  margin: 10px 10px 10px 0;
  background-color: #98dede;
  color: #1a2236;
  border: #1a2236 solid 0.5px;
  padding: 6px 8px 6px 8px;
  text-decoration: inherit;
}

.Prj-btns {
  width: 70%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.proj-card .btn {
  border: #fff solid 1px;
  font-size: 16px;
}

.Prj-btns .btn1 {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: #000 solid 1px;
  font-size: 16px;
  color: #1a2236;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn .bx {
  margin-left: 10px;
  font-size: 25px;
  transform: rotateY(180deg);
  text-align: center;
}

/* ---------------About section------------------- */
.blue-bg {
  background-color: #1c528a;
}

.red-bg {
  background-color: #e2505c;
}

.yellow-bg {
  background-color: #febf52;
}

.about-sec .sec-main-card {
  margin-bottom: 5px;
}

.skill-card {
  display: grid;
  margin: 20px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 800;
  list-style: none;
}

.skill {
  width: 100%;
  height: 289px;
  margin-top: 10px;
  color: #fff;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33.33% 33.33% 33.33%;
}

.skill .skill-text {
  width: 70%;
  margin: 50px;
  font-size: 20px;
  font-weight: 800;
  grid-column: 1/5;
  grid-row: 1/4;
}

.skill-text ul {
  margin: 25px;
  list-style: disc;
}

.skill-text ul li {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.skill img {
  width: 100%;
  height: 100%;
  padding: 0;
  grid-column: 4/5;
  grid-row: 3/4;
}

/* ------------------------ Contact me------------------------- */
.contact-me .sec-main-card {
  margin-top: 0;
  margin-bottom: 0;
}

.contact-form {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-form label {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 10px;
  margin-bottom: 2px;
  letter-spacing: 0;
  text-align: left;
  color: #7d7c84;
}

.contact-form input {
  padding: 23px 5px 5px 16px;
  border: #dfdfe0 solid 1.5px;
  border-radius: 5px;
  border-color: #dfdfe0;
}

.contact-form textarea {
  padding: 14px 0 0 16px;
  border: #dfdfe0 solid 1.5px;
  border-radius: 5px;
}

.u-name {
  display: flex;
  flex-direction: column;
}

.email {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: column;
}

.final-btn {
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}

/* ------------------------ Footer------------------------- */

.footer {
  background-color: #1a2236;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding-top: 28px;
}

.footer-text p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  color: #92dcdc;
}

.footer-text img {
  height: 22px;
  width: 22px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-bottom: 36px;
}

.social-media img {
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0);
  }
}

.social-media img:hover {
  animation: 1s ease-out rotate;
}

/* -------------Popup Window------------- */

#overlay {
  position: fixed;
  z-index: 1;
  opacity: 0;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1a2236e9;
  backdrop-filter: blur(5px);
  pointer-events: none;
  overflow-y: auto;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  padding-left: 5%;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 1;
  background-color: #fff;
  border-radius: 16px;
  overflow-y: auto;
}

.modal.active {
  transform: translate(-33%, -50%) scale(1);
}

.modal-work {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.titleproj {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.imgs-grop {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgs-grop .main-img {
  width: 100%;
  height: 70%;
}

.NP-btn-img a i:hover {
  cursor: pointer;
}

.imgs {
  display: flex;
  flex-direction: row;
}

.modal-work .proj-langs li a {
  background-color: #fff;
}

.NP-btn-img {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.desc {
  width: 100%;
  margin: 5%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.prj-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

@media only screen and (min-width: 375px) {
  .navbar-links {
    position: absolute;
    top: 0;
    padding-top: 20px;
    right: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
    list-style: none;
  }

  .open-menu {
    right: 0;
    transition: 0.5s all;
  }

  .heder-position {
    position: absolute;
  }

  .view-img {
    display: block;
  }

  .h-img {
    display: none;
  }

  .navbar-links a {
    display: inline-block;
  }

  .NP-btn-img a {
    color: #fff;
    font-size: 30px;
    margin: 10px;
  }

  .navbar-links li a {
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    color: #1a2236;
    text-decoration: inherit;
  }

  .navbar-links a::after {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    background: #1a2236;
    transition: 400ms;
  }

  .navbar-links a:hover::after {
    width: 100%;
  }

  .menuImage1 {
    position: absolute;
    width: 80%;
    height: 130px;
    z-index: 1;
  }

  .menuImage2 {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 500px;
  }

  #menu-icon {
    font-size: 30px;
    margin: 30px 19px;
    z-index: 1;
  }

  .image_dots {
    display: none;
  }

  .sec-main-card {
    width: 90%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .sec-title {
    font-family: "Playfair Display", serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .headline-p {
    width: 85%;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 21px;
  }

  .img1,
  .img2,
  .img3,
  .img4,
  .img_,
  .skill-img-dots,
  .contImage,
  .contImage2 {
    display: none;
  }

  /* ----------Popup Wimdow---------- */

  .next-prev-btns {
    display: none;
  }

  .imgs img {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .appheader,
  .nav-header {
    width: 100%;
    height: 100px;
  }

  .nav-bar {
    width: 100%;
    display: flex;
  }

  .headerImage,
  .menuImage1,
  .menuImage2 {
    display: none;
  }

  .navbar-links {
    width: 100%;
    height: 100px;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .navbar-links li a {
    font-size: 16px;
    font-weight: 400;
    color: #1a2236;
    text-decoration: inherit;
  }

  .bx {
    display: none;
  }

  /* -----------------headline section-------------- */

  .headline {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3, 15%) 10% repeat(3, 15%);
    grid-template-rows: repeat(5, 17%) 15%;
  }

  .sec-main-card {
    width: 100%;
    margin-top: 5%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 1/6;
    grid-column: 1/4;
  }

  .sec-main-card .btn {
    width: 60%;
  }

  .image_dots {
    display: block;
    width: 100%;
    height: 100%;
    grid-row: 6/7;
    grid-column: 4/5;
  }

  .proj-card,
  .headlineImage {
    display: none;
  }

  .headlineImage-dv {
    display: block;
    width: 100%;
    height: 100%;
    grid-row: 1/7;
    grid-column: 5/8;
  }

  .sec-title {
    font-size: 110px;
    font-weight: 400;
    line-height: 115px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .headline-p {
    width: 85%;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 21px;
  }

  /* -----------------------Projects Section-------------------- */

  .img1,
  .img2,
  .img3,
  .img4,
  .img_,
  .contImage2,
  .contImage,
  .skill-img-dots {
    display: block;
  }

  .prj-sec {
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 11.1111%);
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
      "  .   .   img_ prj1 prj1 prj1 prj1 prj1 prj1"
      "  .  titl  .   prj1 prj1 prj1 prj1 prj1 prj1"
      "  .   .    .   img1 img1 img1 prj6 prj6 prj6"
      "prj2 prj2 prj2 img1 img1 img1 prj6 prj6 prj6"
      "prj2 prj2 prj2 img1 img1 img1 prj5 prj5 prj5"
      "prj3 prj3 prj3 prj3 prj3   .  prj5 prj5 prj5"
      "prj3 prj3 prj3 prj3 prj3 img2 img2 img2 img2"
      "img3 img3 img3 img3 img3 prj4 prj4 prj4   . ";
  }

  .prj-sec .sec-title {
    font-size: 7vw;
    margin: 50%;
    transform: rotate(270deg);
    grid-area: titl;
  }

  .prj1,
  .prj2,
  .prj3,
  .prj4,
  .prj5,
  .prj6 {
    width: 100%;
    height: 100%;
  }

  .prj1 {
    grid-area: prj1;
  }

  .prj1 .proj-name {
    font-size: 4vw;
    font-weight: 700;
  }

  .prj2 {
    grid-area: prj2;
  }

  .prj2 .proj-name,
  .prj4 .proj-name,
  .prj5 .proj-name,
  .prj6 .proj-name {
    font-size: 2vw;
    font-weight: 700;
  }

  .prj3 {
    grid-area: prj3;
  }

  .prj3 .proj-name {
    font-size: 3vw;
    font-weight: 700;
  }

  .prj4 {
    grid-area: prj4;
  }

  .prj5 {
    grid-area: prj5;
  }

  .prj6 {
    grid-area: prj6;
  }

  .prj1 img,
  .prj2 img,
  .prj3 img,
  .prj4 img,
  .prj5 img,
  .prj6 img {
    width: 100%;
    height: 100%;
  }

  .project {
    position: relative;
  }

  .project .proj-card {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    background-color: #1a2236f7;
    transition: 1s ease;
  }

  .project:hover .proj-card {
    opacity: 1;
  }

  .proj-langs {
    display: flex;
    justify-content: flex-start;
    font-size: 1vw;
    font-weight: 300;
    margin-top: 3%;
  }

  .prj1 .btn,
  .prj3 .btn {
    width: 35%;
    font-size: 10vw;
    margin-top: 6%;
  }

  .Prj-btns {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .proj-card .btn,
  .Prj-btns .btn1 {
    width: 40%;
    font-size: 1vw;
    padding: 10px;
    margin-top: 5%;
    font-weight: 500;
  }

  .proj-card .btn .bx {
    display: block;
    margin-left: 2%;
  }

  .proj-card .btn:hover,
  .Prj-btns .btn1:hover {
    color: white;
    background-color: #1a2236;
    border: #fff solid 1px;
  }

  .proj-card .btn:active,
  .Prj-btns .btn1:active {
    color: #fff;
    background-color: #1a2236;
    border: #fff solid 2px;
  }

  .prj1 .proj-langs,
  .prj3 .proj-langs {
    margin-top: 50px;
  }

  .img_ {
    width: 100%;
    height: 100%;
    grid-area: img_;
  }

  .img1 {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    grid-area: img1;
  }

  .img2 {
    width: 100%;
    height: 100%;
    grid-area: img2;
  }

  .img3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    grid-area: img3;
  }

  .img5 {
    width: 30%;
    height: 70%;
  }

  .img4 {
    width: 18%;
    height: 40%;
  }

  /* -------------About section-------------- */
  .about-sec {
    width: 100%;
    height: 80vh;
    margin: 2%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  .about-sec .sec-main-card {
    width: 38%;
    margin-top: 0;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .skill-card {
    width: 55%;
    margin: 1%;
    margin-left: 3%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 50%;
  }

  .skill {
    width: 98%;
    height: 98%;
    margin: 0 1% 5% 1%;
  }

  .skill .skill-text {
    font-size: 2.3;
    margin: 10%;
  }

  .skill .skill-text li {
    font-size: 1.3vw;
    margin: 0;
  }

  .skill-img-dots {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
  }

  .skill-img-dots img {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  /* ----------------contact section--------------- */
  .contact-me {
    width: 100%;
    background-color: #f9f9fa;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(6, auto);
  }

  .contact-me .sec-main-card {
    width: 100%;
    margin: 5px;
    margin-bottom: 100px;
    grid-column: 2/4;
    grid-row: 2/4;
  }

  .contact-me .sec-title {
    font-size: 8vw;
    margin: 0;
  }

  .contact-me .headline-p {
    margin-top: 0;
    margin-bottom: 2%;
  }

  .contImage {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .contact-form {
    width: 90%;
    margin: 5px;
    margin-top: 50px;
    grid-column: 2/4;
    grid-row: 3/6;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 80px 160px 80px;
    justify-content: flex-end;
  }

  .u-name {
    width: 98%;
    margin-right: 10px;
    margin-bottom: 10px;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .email {
    width: 98%;
    margin-left: 10px;
    grid-column: 3/5;
    grid-row: 1/2;
  }

  .message {
    width: 100%;
    grid-column: 1/5;
    grid-row: 2/3;
  }

  .final-btn {
    width: 100%;
    height: 70px;
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .contImage2 {
    width: 100%;
    height: 100%;
    grid-column: 4/5;
    grid-row: 4/6;
  }

  .footer {
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-text {
    margin-left: 120px;
    padding: 0;
  }

  .social-media {
    margin-right: 120px;
    padding: 0;
  }

  /* -------------Popup Window----------- */
  .modal {
    width: 90%;
    height: 95%;
    margin: 0;
    padding: 5%;
  }

  .desc {
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
  }

  .next-prev-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .next-prev-btns button {
    font-size: 18px;
    font-weight: 300;
    margin-top: 50px;
    background-color: #7d7c8400;
    border: none;
  }

  .imgs img {
    width: 25%;
  }
}
