* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-color {
  color: #1a2236;
}
.white{
  color:#FFFFFF;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  display: none;
}

.headerImage {
  width: 111px;
  height: 74px;
}

#menu-icon {
  font-size: 30px;
  margin: 30px 19px;
}

.btn {
  height: 50px;
  color: white;
  background-color: #1a2236;
  margin: 10px 0 10px 0;
  padding: 10px;
}

.btn:hover {
  color: #1a2236;
  background-color: white;
}

.headlineImage {
  width: 99%;
}
/*---------Projects Section----------*/
.sec-title{
  width: auto;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  margin: 50px 20px 25px 20px;
  line-height: 50px;
}
.project{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project img{
width: 99.98%;
height:186px;
}
.proj-card{
  background-color: #1a2236;
  padding:  20px;
}
.proj-name{
font-size: 20px;
font-weight: 300;
}
.proj-langs{
  margin: 20px 20px 20px 0;
  display: flex;
  font-size: 10.33px;
  font-weight: 300;
  list-style: none;
}

.proj-langs li a{
  margin: 10px 10px 10px 0;
  padding: 5px;
  background-color: #98DEDE;
  color: #1a2236;
  border: #1a2236 solid 0.5px;
  padding: 6px 8px 6px 8px;  
  text-decoration: inherit;
}
.proj-card .btn{
  border: #FFFFFF solid 1px;
  
  font-size: 16px;
}
.proj-card .btn .bx{
  font-size: 20px;
  transform: rotateY(180deg);
}
@media only screen and (min-width: 375px) {
  .headline-bord {
    width: 90%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .headline-h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 10px;
  }

  .headline-p {
    width: 85%;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 21px;
  }
}
